%div.hero-unit
  %p Can't remember what exactly has to be done today? No worries. We're here to help.
  %h1 Welcome to Rodos
  %p A missing group todos app.
  %div= button_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), method: :get, class: 'btn btn-primary'
  %div= button_to "Sign in with email", new_user_session_path, method: :get, class: 'btn btn-primary'
  %div= button_to "Sign up", new_user_registration_path, method: :get, class: 'btn'
  
%div.row
  %div.span3
    %h2 Flexibility
    %p No matter if you're using Twitter, Facebook, Github, something else, everything altogether or if you like old-schooled email login system.
