<h1>Edit todo</h1>

<form id="edit-todo" name="todo">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Todo" />
  </div>

</form>

<a href="#/index">Back</a>