development:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: rodos_development
  pool: 5
  username: 
  password: 

test:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: rodos_testing
  pool: 5
  username: 
  password: 

production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: rodos_production
  pool: 5
  username: 
  password: 
