@import "bootstrap";
@import "bootstrap-responsive";

.todosContainer {
  h1 {
    small {
      color: $grayLight;
    }
  }
}

ul {
  a, a:hover {
    color: $linkColor;
  }
}

.hero-unit {
  .btn-primary {
    color: #fff;
  }
}

.navbar-inner {
  .container {
    a:hover {
      background-color: $navbarBackground;
    }
    #user-nav form {
      margin: 0;
    }
  }
}

.grouplist {
  a:hover {
    color: $gray;
  }
}

body {
  /*temporary! usually set to about 45px*/
  padding-top: 80px;
}

footer {
  border-top: 1px solid $grayLight;
  a {
    color: $green;
  }
  a:hover {
    background-color: #fff;
    color: $green;
    text-decoration: none;
  }
  .signature {
    word-spacing: -1em;
    text-transform: lowercase;
    .first {
      opacity: .6;
    }
    .second {
      opacity: .9;
    }
  }
}
