@import "bootstrap";
@import "bootstrap-responsive";

body {
  padding-top: 45px;
}

.hero-unit {
  .btn-primary {
    color: #fff;
  }
}

#newTodo, #newUser {
  .caret {
    border-top-color: #000;
  }
  ul.dropdown-menu {
    span {
      padding-left: 0.5em;
      font-size: 1em;
      color: $grayLight;
    }
  }
}

#newTodo {
  #new-todo-title {
    width: 74.5%;
  }
  #new-todo-title.wide {
    width: 84.5%;
  }
}

#newGroup {
  #new-group-name {
    width: 82%;
  }
}

#newUser {
  #new-user-data {
    width: 70%;
  }
  #new-user-data.wide {
    width: 82%;
  }
}

.todosContainer {
  h1 {
    small {
      color: $grayLight;
    }
  }
}

ul {
  a, a:hover {
    color: $linkColor;
  }
}

.navbar-inner {
  .container {
    a:hover {
      background-color: $navbarBackground;
    }
    #user-nav form {
      margin: 0;
    }
  }
}

.grouplist {
  a:hover {
    color: $gray;
  }
}

footer {
  border-top: 1px solid $grayLight;
  a {
    color: $green;
  }
  a:hover {
    background-color: #fff;
    color: $green;
    text-decoration: none;
  }
  .signature {
    word-spacing: -1em;
    text-transform: lowercase;
    .first {
      opacity: .6;
    }
    .second {
      opacity: .9;
    }
  }
}
